*_cache/
.DS_Store
.cache/
.cursor/
.dev/
.dockerignore
.env
.git/
.github/
.gitignore
.pre-commit-config.yaml
.typos.toml
.venv/
.vscode/
.yamllint.yml
CHANGELOG.md
CONTRIBUTING.md
Dockerfile
__pycache__/
codecov.yml
committed.toml
compose.yml
dev-templates/
docker-compose.yml
duties.py
tests/
